{% extends "layout.html" %}

{% block title %}
Declaraciones
{% endblock %}

{% block main %}
<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Sobre uso Open Source</h5>
            <p class="card-text">Reafirmamos que Open Source es el futuro...</p>
            <a href="#" class="card-link">Ver Declaración</a>
        </div>
        <div class="card-footer">
            <small class="text-muted">Actualizado hace 3 minutos</small>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Sobre uso Open Source</h5>
            <p class="card-text">Reafirmamos que Open Source es el futuro...</p>
            <a href="#" class="card-link">Ver Declaración</a>
        </div>
        <div class="card-footer">
            <small class="text-muted">Actualizado hace 3 minutos</small>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Sobre uso Open Source</h5>
            <p class="card-text">Reafirmamos que Open Source es el futuro...</p>
            <a href="#" class="card-link">Ver Declaración</a>
        </div>
        <div class="card-footer">
            <small class="text-muted">Actualizado hace 3 minutos</small>
        </div>
    </div>
</div>
{% endblock %}