<!DOCTYPE html>

<html lang="es">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    {% if "upload" in use %}
    <link href="https://transloadit.edgly.net/releases/uppy/v1.15.0/uppy.min.css" rel="stylesheet">
    {% endif%}
    <link href="/static/styles.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>

    <title>{% block title %}{% endblock %} - Declaraciones FEUC</title>

</head>

<body>
    <div class=”main-container”>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><span class="blue">Declaraciones</span><span class="red"></span>
                <spanclass="green"> FEUC</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/declaraciones">Declaraciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/representantes">Representantes</a>
                    </li>
                    {% if user.is_authenticated and user.is_representative %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Mis Declaraciones</a>
                            <a class="dropdown-item" href="/crear">Subir Declaración</a>
                            <a class="dropdown-item" href="/org">Mi Organización</a>
                            {% if user.admin_of %}
                            <a class="dropdown-item" href="/ajustes">Ajustes</a>
                            {% endif %}
                        </div>
                    </li>
                    {% endif %}
                </ul>
                {% if user.is_authenticated %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Cerrar Sesión</a>
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Iniciar
                            Sesión</a>
                    </li>
                </ul>
                {% endif %}
            </div>

    </div>
    </nav>

    {% if get_flashed_messages() %}
    <header>
        <div class="alert alert-primary border text-center" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    </header>
    {% endif %}

    <main class="container p-5">
        {% block main %}{% endblock %}
    </main>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">Hecho por Agustín Covarrubias y
                licenciado bajo la Licencia
                MPL-2.0</span> <!-- TODO: #5 Add links to footer -->
        </div>
    </footer>
    <!--     <footer class="small text-center text-muted">
        Plataforma abierta para declaraciones de la FEUC. Hecho por Agustín Covarrubias y licenciado bajo la Licencia
        MIT.
    </footer> -->
    {% if "upload" in use %}
    <script src="static/upload.js"></script>
    {% endif %}
    </div>
</body>

</html>